[defaults]
inventory = /Users/ksan/Desktop/Vention/inventory/hosts.ini
host_key_checking = False
retry_files_enabled = False
roles_path = /Users/ksan/Desktop/Vention/roles

[ssh_connection]
pipelining = True