[defaults]
inventory = /Users/ksan/Desktop/Vention/Vention/Vention/inventory/hosts.yml
host_key_checking = False
retry_files_enabled = False
roles_path = /Users/ksan/Desktop/Vention/Vention/Vention/roles

[ssh_connection]
pipelining = True